@media only screen and (min-width: 35rem) {
    /* Home */
    #home {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #hero {
        border: solid;
    }

    #summary {
        padding: 10px;
    }

    #call {
        grid-row: 2;
        margin-top: auto;
        margin-bottom: auto;
        justify-items: center;
    }

    #daily {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #specialty {
        grid-row: 4;
    }

    /* Fresh */

    #fresh {
        min-height: 850px;
        display: grid;
        grid-template-rows: 10% 1fr;
        
        text-align: center;
    }

    #fresh form {
        align-self: center;
        justify-self: center;

    }

    #fresh form label {
        display: block;
        text-align: center;
    }

    #fresh form textarea {
        display: block;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #fresh form input {
        display: block;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #readout {
        display: none;
    }

    /* About */

    #about {
        min-height: 850px;
        display: grid;
        grid-template-rows: 25% 25% 50%;
        text-align: center;
    }

    #aboutContact {
        margin-top: auto;
        margin-bottom: auto;
    }

    #aboutContact form {
        margin-left: auto;
        margin-right: auto;
    }

    #aboutContact form label {
        display: block;
    }

    #aboutContact form input {
        display: block;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #google {
        margin-top: auto;
        margin-bottom: auto;
    }

    #google img {
        padding-bottom: 10px;
        height: 75%;
        width: auto;
    }
}