body {
    font-family: 'Roboto', sans-serif;
}

#banner {
    background-color: lightskyblue;
    text-align: center;
    padding: 5px;
    display: none;
}

nav button {
    margin: .2rem 2vw;
    background: #333;
    border: none;
    font-size: 2rem;
    color: #fff;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: #333;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

main {
    display: grid;
    grid-gap: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    grid-template-columns: 1fr;
}

#hero, #event, #weather, #news, #spotlights, #join, #statistics, #images, #visits {
    min-height: 200px;
    background-color: lightskyblue;
}

#hero {
    border: solid;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#event {
    border: solid;
}

#weather {
    border: solid;
}

#news {
    border: solid;
}

#spotlights {
    display: grid;
    border: solid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

#spotlights div img {
    height: 100px;
    width:auto;
}

#div1 {
    grid-column: 1;
    border: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 90%;
    align-content: center;
    height: fit-content;
}

#div2 {
    grid-column: 1;
    border: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 90%;
    align-content: center;
    height: fit-content;
}

#div3 {
    display: none;
    grid-column: 1;
    border: solid;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-content: center;
    height: 100%;
}

#join {
    border: solid;
    display: none;
    text-justify: auto;
}

#discover {
    grid-template-columns: 1fr;
    padding-bottom: 15px;
}

#statistics {
    border: solid;
}

#statistics a {
    text-decoration: none;
    color: black;
}

#images {
    border: solid;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pic1 {
    grid-column: 1;
    
}

picture img {
    width: 85%;
    height: 85%;
    object-fit: contain;
}

picture img[data-src] {
    filter: blur(0.2em);
}
  
picture img {
    filter: blur(0em);
    transition: filter 2.5s;
}

#pic2 {
    grid-column: 1;
}

#pic3 {
    grid-column: 1;
}

#pic4 {
    grid-column: 1;
}

#pic5 {
    grid-column: 1;
}

#visits {
    border: solid;
    height: 100%;
    min-height: auto;
    padding-bottom: 10px;

}

header {
    background-color: #333;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#logo {
    margin: auto;
    width: 100px;
    grid-column: 1;
}

header nav {
    margin: auto;
    grid-column: 4;
}

header #name {
    margin: auto;
    grid-column: 2;
}

header #social {
    margin: auto;
    grid-column: 3;
    grid-row: 1;
}

#name h1 {
    font-size: 24px;
}

#name h2 {
    font-size: 20px;
}

#joinPage {
    display: grid;
    grid-template-columns: 1fr;
}

#joinPage div {
    border: solid;
    background-color: lightskyblue;
}

#joinPage form {
    border: solid;
    background-color: lightskyblue;
    padding: 5px;
    text-align: left;
    margin: 0 1rem;
    padding: 0 .5rem;
}

#joinPage form label.top, label.describe, label.radio {
    display: block;
    padding-top: 1rem;
}

#joinPage form label.top input, label.describe input {
    display: block;
    font-size: 1rem;
    padding: .5rem;
}

#joinPage form label.describe textarea {
    width: 90%;
    padding: 10px;
    
}

#joinPage form fieldset {
    margin-top: 10px;
}

#joinPage form input.btn {
    display: block;
    padding: .75rem 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

#thanks div {
    border: solid;
    background-color: lightskyblue;
    padding: 5px;
}

header div img {
    width: 50px;
}

header time {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: solid #fff;
    text-align: center;
    font-size: 20px;
    grid-column: 1/5;
}

footer {
    background-color: #333;
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
}

footer img {
    margin: auto;
    width: 100px;
    grid-column: 1;
}

footer div {
    margin: auto;
    text-align: center;
    grid-column: 1;
}

footer a {
    margin: auto;
    text-decoration: none;
    color: white;
    grid-column: 1;
}

footer p {
    padding-top: 10px;
    border-top: solid #fff;
    text-align: center;
    grid-column: 1;
}

.break {
    visibility: hidden;
}

.base::after {
    content: "\a";
    white-space: pre;   
}

#directory {
    display: grid;
    grid-template-columns: 1fr;
}

#directory .grid {
    margin-left: auto;
}

#directory .grid section {
    border: solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: lightblue;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 2;
}

#directory .grid section p {
    text-overflow: clip;
}

#directory .list {
    border: solid;
	display: flex;
	flex-direction: column;
}

#directory .list section {
	display: grid;
	grid-template-columns: 4fr;
	margin: 0;
	padding: 0.25rem;
}

#directory .list section > * {
	margin: 0 1rem;
}

#directory .list section img {
	display: none; /* smaller viewports only */
}

#directory .list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

#directory .list section:nth-child(even) {
	background-color: lightblue;
}