@media only screen and (min-width: 64rem) {

    nav button {display: none;}
    
    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .5rem 1rem;
    }


    header nav {
        grid-column: 3;
    }

    header #social {
        grid-column: 4;
    }

    main {
        grid-template-columns: 25% 50% 25%;
    }

    #hero {
        grid-column: 2;
        grid-row: 1/3;
        height: 100%;
    }

    #weather {
        grid-column: 1;
        grid-row: 2;
    }

    #news {
        grid-column: 2;
        grid-row: 3;
    }

    #spotlights {
        grid-column: 3;
        grid-row: 1/4;
        height: 100%;
    }

    #join {
        grid-column: 1;
        grid-row: 3;
    }
    
}