@media only screen and (min-width: 64rem) {

    nav button {display: none;}
    
    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .5rem 1rem;
    }


    header nav {
        grid-column: 3;
    }

    header #social {
        grid-column: 4;
    }

    main {
        grid-template-columns: 25% 50% 25%;
        grid-gap: 10px;
    }

    #hero {
        grid-column: 2;
        grid-row: 1/3;
        height: 100%;
    }

    #weather {
        grid-column: 1;
        grid-row: 2;
    }

    #news {
        grid-column: 2;
        grid-row: 3;
    }

    #spotlights {
        grid-column: 3;
        grid-row: 1/4;
        height: 99%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 28% 28% 28%;
        grid-gap: 21px;
    }

    #join {
        grid-column: 1;
        grid-row: 3;
    }

    #div1 {
        grid-column: 1;
        height: fit-content;
        display: block;
        margin-top: 20px;
    }

    #div2 {
        grid-column: 1;
        height: fit-content;
        margin-top: 20px;
    }

    #div3 {
        grid-column: 1;
        display: block;
        height: fit-content;
        margin-top: 40px;
    }

    #discover {
        grid-template-columns: 25% 50% 25%;
    }

    #statistics {
        grid-column: 1;
        height: 600px;
    }

    #images {
        grid-column: 2;
    }

    #visits {
        grid-column: 3;
    }

    #directory .list section {
        grid-template-columns: 2fr 1fr 1fr;
    }
    
}