@media only screen and (min-width: 35rem) {

    header {
        padding-top: 10px;
        grid-gap: 10px;
    }
    
    main {
        display: grid;
        grid-template-columns: 66% 33%;
        margin-bottom: 10px;
    }

    #hero {
        grid-column: 1/3;
    }

    #news {
        grid-column: 1/3;
        grid-row: 2;
    }

    #spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        grid-column: 1/3;
        grid-row: 3;
        height: fit-content;
        justify-items: center;
    }

    #div1 {
        grid-column: 1;
        height: 93%;
        margin: 0;
        width: 90%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #div2 {
        grid-column: 2;
        height: 93%;
        margin: 0;
        width: 90%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #join {
        display: inline;
        grid-column: 1/3;
        grid-row: 4;
        text-align: center;

    }

    #join button {
        margin-top: 50px;
        width: 50%;
        height: 25%;
        background-color: blue;
        color: white;
        font-size: 16pt;
    }

    #discover {
        grid-template-columns: 50% 50%;
    }

    #statistics {
        grid-column: 1;
    }

    #images {
        grid-column: 2;
        grid-row: 1/3;
        overflow: scroll;
        height: 600px;
        margin-bottom: -15px;
    }

    #images img:hover {
        opacity: 0.70;
        background-color: blue;
        transform: scale(1.05);
    }

    #visits {
        grid-column: 1;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer img {
        grid-column: 1;
    }

    footer div {
        text-align: left;
        grid-column: 2;
    }

    footer a {
        grid-column: 3;
    }

    footer p {
        grid-column: 1/4;
    }

    .break {
        visibility: visible;
    }

    .base::after {
        content: "";
        white-space: pre;   
    }

}