body {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    align-self: center;
}

header, footer {
    border-style: solid;
    border-radius: 25px;
    background: #5653ff;
    padding: 25px;
    font-family: 'Bruno Ace', cursive;
}

header {
    display: flex;
}
 
header img {
    border-radius: 25px;
}

header h1 {
    margin: auto;
    font-size: 40pt;
}

header h2 {
    font-size: 30pt;
}

#list {
    font-size: 20pt;
}

footer {
    text-align: center;
} 

footer p {
    color: yellow;
}

main {
    font-family: 'Kanit', sans-serif;
}